name: Node.js Server Execution

on:
  workflow_dispatch:
  push:
  schedule:
    - cron: '55 */5 * * *' # Every 5 hours 55 mins

concurrency:
  cancel-in-progress: true
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - uses: actions/setup-node@v4
      with:
        node-version: '20'
        cache: 'npm'
    - name: Install dependencies
      run: npm install
    - name: Execute Node.js server
      run: node server.js
